* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --clr-sky-blue: #8ecae6ff;
  --clr-blue-green: #219ebcff;
  --clr-brussian-blue: #023047ff;
  --clr-selective-yellow: #ffb703ff;
  --clr-ut-orange: #fb8500ff;
  --light-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}
body {
  font-family: "Roboto", sans-serif;
  min-width: 100vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-brussian-blue);
}
.main-image-container {
  width: 40rem;
  height: 30rem;
  overflow: hidden;
}
.main-image-container .img-container {
  display: flex;
  height: 100%;
  width: 100%;
  transition: transform 0.5s ease-in-out;
  
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 5px solid white;
  border-radius: 1rem;
}
.img-container {
  width: calc(100% * 7);
  height: 100%;
}
.img-container img {

  
  /* width: calc(100% /7); */
}
.slider-main-container {
  max-width: 50rem;
  width: 100%;
  height: 35rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 1rem;
  box-shadow: var(--dark-shadow);
}
.slider-main-container i.button {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: antiquewhite;
  border-radius: 50%;
  text-align: center;
  line-height: 2rem;
  color: black;
  font-size: 1rem;
  top :50%;
  transform: translateY(-50%);
  transition: all 0.5s linear;
  z-index: 100;
  cursor: pointer;
}
i#previous {

  left: 1.5rem;
}
i#next {
  right: 1.5rem;
}
i.button:active {
  transform: scale(0.94) translateY(-50%);
}